/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
:root {
    --bs-button-bg: #bf8417;
    --bs-button-text: #ffffff;
    --bs-h4-text: #9d7a38;
    --bs-h1-text: #394353;
    --bs-h2-text: #353f4f;
    --bs-body-text: #b7b7b7;
    --bs-feature-bg: #d1d1e0;
    --bs-footer-bg: #353f4f;

}

/*A MIX OF CSS STYLINGS TO SUPPORT THE BOOTSTRAP CLASSES. THIS RUNS FROM NAV TO FOOTER IN NO PERTICULAR ORDER*/

nav ul li a:hover {
    color: #bf8417 !important;
}

nav ul li a:focus {
    color: #bf8417 !important;
    outline: none;
}

.navbar-toggler {
    border: 1px solid #bf8417 !important;
}

.navbar-toggler:focus {
    border: 2px solid #bf8417 !important;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25) !important;
}

.navbar-toggler-icon {
    color: #bf8417 !important;
}

.fixed-position {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.8s, transform 0.8s ease;
}

.fixed-position-scrolled {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 0px 5px 0px var(--bs-gray) !important;
    transform: translateY(-6px) !important;
    transition: background-color 0.3s ease-in-out !important;
}

.bg-transparent {
    .bg-transparent {
        background-color: transparent !important;
        transition: background-color 0.3s ease-in-out !important;
    }
}

.display-6 {
    color: #bf8417 !important;
    font-weight: medium !important;
}

.display-3 {
    color: var(--bs-h1-text);
}

.hero-container-main,
.about-container-main {
    /* margin-top: 15rem !important; */
    height: 80vh !important;
}

.home-hero-btn {
    background-color: var(--bs-button-bg) !important;
    color: var(--bs-button-text) !important;
    border-radius: 50px !important;
    border: none !important;
}

.home-hero-btn:focus,
.home-about-btn:focus {
    border: 2px solid #bf8417 !important;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25) !important;
}

.home-hero-btn:hover,
.home-about-btn:hover {
    transition: background-color 0.5s ease, color 0.5s ease-in-out !important;
    background-color: var(--bs-white) !important;
    color: #bf8417 !important;
}

.hero-left h1 {
    color: var(--bs-h1-text);
    font-size: 3.5rem !important;
}


.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1000;
}

.scroll-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bf8417;
    color: #fff;
    font-size: 24px;
    border: 1px solid var(--bs-gray);
    border-radius: 50%;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transition: opacity 0.4s, background-color 0.3s;
    opacity: 0.7;
}

.scroll-btn:hover {
    opacity: 1;
    background-color: var(--bs-white);
    color: #bf8417;
}

.scroll-icon {
    font-size: 1rem;
    font-weight: 800;
}

.home-about-btn {
    background-color: var(--bs-button-bg) !important;
    color: var(--bs-button-text) !important;
    border-radius: 50px !important;
    border: none !important;
}

.animate-second {
    animation: slowMove 5s infinite alternate ease-in-out 2s;
}

@keyframes slowMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(60px);
    }
}

@media (max-width: 576px) {

    .hero-container,
    .home-about-right {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }


    .hero-left h1,
    .about-h1 {
        width: 50% !important;
        font-size: 2.2rem !important;
    }

    .hero-left p {
        width: 50% !important;
    }

    .about-p {
        width: 75%;
    }

    .about-hero-image {
        display: none;
    }

    .home-hero-image,
    .show-image {
        display: block !important;
        width: 70% !important;
        height: auto !important;
    }

    .home-about-right {
        padding-left: 3rem;
    }
}