/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
:root {
    --bs-button-bg: #bf8417;
    --bs-button-text: #ffffff;
    --bs-h4-text: #9d7a38;
    --bs-h1-text: #394353;
    --bs-h2-text: #353f4f;
    --bs-body-text: #b7b7b7;
    --bs-feature-bg: #d1d1e0;
    --bs-footer-bg: #353f4f;
    --bs-heart-bg: #f6f6fa;
    --bs-circle1-bg: #f7f3fe;
    --bs-circle2-bg: #fff6f9;
    --bs-smallCircle-bg: #feeef3;
    --bs-triangle-bg: #f2eabf;
    --bs-fontIcon-bg: #9c7474;
    --bs-contact-bg: #f8f3ff;
    --bs-shapesR: #f0e7fd;
    --bs-shapesC: #f7ebf9;
    --bs-contactTopBG: #f7f2fe;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    /* color: var(--bs-body-text); */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h4{
    font-size: 1.4rem !important;
}

h1{
    font-size: 2rem !important;
}

button:hover{
    border: 1px solid #bf8417 !important;
}

/*A MIX OF CSS STYLINGS TO SUPPORT THE BOOTSTRAP CLASSES. THIS RUNS FROM NAV TO FOOTER IN NO PERTICULAR ORDER*/
nav ul li a:hover {
    color: #bf8417 !important;
}

nav ul li a:focus {
    color: #bf8417 !important;
    outline: none;
}

.navbar-toggler {
    border: 1px solid #bf8417 !important;
}

.navbar-toggler:focus {
    border: 2px solid #bf8417 !important;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25) !important;
}

.navbar-toggler-icon {
    color: #bf8417 !important;
}

.fixed-position {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.8s, transform 0.8s ease;
}

.fixed-position-scrolled {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 0px 5px 0px var(--bs-gray) !important;
    transform: translateY(-6px) !important;
    transition: background-color 0.3s ease-in-out !important;
}

/* .toggle-menu{
        transform: translateY(-1000px);
            opacity: 0;
} */

/* .hero-container-main{
    height: 100vh !important;
} */

.hero h1,
.hero-left p,
.home-hero-btn {
    opacity: 0;
    transform: translateX(-1000px);
    transition: opacity 0.5s ease;
}

.home-hero-image {
    opacity: 0;
    transform: translateX(1000px);
    transition: opacity 0.5s ease;
}

@media (max-width: 992px) {
    .hero-container-main{
        margin-top: 10rem !important;
    }
    .home-hero-image{
        width: 90% !important;
    }
}

.bg-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out !important;

}

.display-6 {
    color: #bf8417 !important;
    font-weight: medium !important;
    font-weight: 400;
}

.display-3 {
    color: var(--bs-h1-text);
    font-weight: 500;
}



.web-dev-div,
.ui-ux-div,
.mobile-dev-div,
.design-div,
.icon-div,
.seo-div,
.digital-marketing-div,
.hosting-div,
.performance-div {
    border-radius: 15px !important;
}

.web-dev-div:hover,
.ui-ux-div:hover,
.mobile-dev-div:hover,
.design-div:hover,
.seo-div:hover,
.digital-marketing-div:hover,
.hosting-div:hover,
.performance-div:hover {
    transform: translate(1) !important;
    background-color: #e0dcca !important;
}

.web-dev-div,
.ui-ux-div,
.mobile-dev-div,
.design-div,
.seo-div,
.digital-marketing-div,
.hosting-div,
.performance-div {
    box-shadow: 0px 0px 8px 0px var(--bs-gray);
}

.web-dev-div:hover .icon-div,
.web-dev-div:hover .services-btn,
.ui-ux-div:hover .icon-div,
.ui-ux-div:hover .services-btn,
.seo-div:hover .icon-div,
.seo-div:hover .services-btn,
.digital-marketing-div:hover .services-btn,
.digital-marketing-div:hover .icon-div,
.hosting-div:hover .icon-div,
.hosting-div:hover .services-btn,
.performance-div:hover .icon-div,
.performance-div:hover .services-btn {
    background-color: var(--bs-white) !important;
    color: #bf8417 !important;

}


.web-dev-div:hover .services-btn:hover,
.ui-ux-div:hover .services-btn:hover,
.mobile-dev-div:hover .services-btn:hover,
.design-div:hover .services-btn:hover,
.seo-div:hover .services-btn:hover,
.digital-marketing-div:hover .services-btn:hover,
.hosting-div:hover .services-btn:hover,
.performance-div:hover .services-btn:hover {
    background-color: #bf8417 !important;
    color: #fff !important;
}

.services-p {
    color: gray !important;
}

.icon-div {
    background-color: var(--bs-feature-bg) !important;
}

.icon {
    color: var(--bs-fontIcon-bg) !important;
    background-color: transparent !important;
}

.services-btn {
    padding: .8rem 2rem;
    border-radius: 45px;
    color: #bf8417 !important;
    background-color: rgb(215, 215, 215) !important;
    border: none;
    cursor: pointer !important;
    font-weight: 500;
}

.services-btn:hover {
    background-color: #bf8417 !important;
    color: #fff !important;
}

.hero-container-main,
.about-container-main {
    height: 80vh !important;
}

.home-hero-btn {
    background-color: var(--bs-button-bg) !important;
    color: var(--bs-button-text) !important;
    border-radius: 50px !important;
    border: none !important;
}

.home-hero-btn:focus,
.home-about-btn:focus {
    border: 2px solid #bf8417 !important;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25) !important;
}

.home-hero-btn:hover,
.home-about-btn:hover {
    transition: background-color 0.5s ease, color 0.5s ease-in-out !important;
    background-color: var(--bs-white) !important;
    color: #bf8417 !important;
}

.hero-left h1 {
    color: var(--bs-h1-text);
    /* font-size: 3.5rem !important; */
}


.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1000;
}

.scroll-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bf8417;
    color: #fff;
    font-size: 24px;
    border: 1px solid var(--bs-gray);
    border-radius: 50%;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transition: opacity 0.4s, background-color 0.3s;
    opacity: 0.7;
}

.scroll-btn:hover {
    opacity: 1;
    background-color: var(--bs-white);
    color: #bf8417;
}

.scroll-icon {
    font-size: 1rem;
    font-weight: 800;
}

.home-about-btn {
    background-color: var(--bs-button-bg) !important;
    color: var(--bs-button-text) !important;
    border-radius: 50px !important;
    border: none !important;
}

@media (max-width: 992px) {
.about-container-main{
    margin: 10rem 0 !important;
}
}

@media (max-width: 768px) {
.about-top-header .display-3{
    width: 20rem;
}
}

.animate-second {
    animation: slowMove 5s infinite alternate ease-in-out 1s;
}

@keyframes slowMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(40px);
    }
}


.feature-div-left {
    width: 50%;
    opacity: 0;
    transform: translateX(-1000px);

}

@media (min-width: 768px) {
    .feature-div-left{
        width: 70% !important;
    }
.feature-image{
    width: 70% !important;
}

}

.features-image {
    opacity: 0;
    transform: translateX(1000px);
    transition: opacity 0.5s ease;
}

.animate-second {
    animation: slowMove 5s infinite alternate ease-in-out 1s;
}

.toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
}

.toggle-header-keyed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 'box-shadow 0.3s ease',
}


.h5-header {
    margin: 0;
    color: #bf8417;
    font-size: 1rem;
    font-weight: 500;
}

.toggle-header-keyed:focus {
    border: 2px solid #bf8417 !important;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25) !important;
    background-color: yellow !important;
}

.toggle-header-icon {
    font-size: 1.2rem;
}

.dropdown-div {
    padding: 1rem .8rem;
    border-radius: 5px;
    border-radius: 1px solid #ccc;

}

.dropdown-head-text {
    margin-bottom: .2rem;
    font-size: 1.2rem;
    padding: 0 .2rem;
    color: #343536;
}

.dropdown-p-texts {
    color: var(--bs-gray-dark);
    font-size: .9rem;
    line-height: 1.8;
    padding: 0 .2rem 0 .2rem;
    white-space: pre-line !important;
}

.dropdown-p-texts-li {
    color: var(--bs-gray-dark);
    font-size: .9rem;
    line-height: 1.6;
    padding: 0 0 0 3rem;
}

.labe-text-bold {
    font-weight: 600;
    color: #6c757d;
}

.colored-arrow {
    color: #bf8417;
}

.feature-main-container {
    background-color: var(--bs-feature-bg);
}

.colored-h4-text {
    color: #bf8417;
    font-weight: 500;
    /* font-size: 1.4rem; */
}

.colored-h1-text {
    color: #343536;
    font-weight: 700;
    font-size: 2.8rem;
}

.pricing-top-div {
    opacity: 0;
    transform: translateY(1000px);
}

.pricing-top-div p {
    text-align: center;
    color: var(--bs-gray);
}

.pricing-card {
    background: #dcd9e2;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(1000px);
}

.pricing-card:hover {
    background-color: var(--bs-white);
    box-shadow: 0 0 10px 8px rgb(239, 239, 239);
}

.pricing-card-top {
    width: 100% !important;
    border-radius: 20px 20px 0 0 !important;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: .2rem !important;
    position: relative;
    color: var(--bs-h1-text);
}


.price-badge {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 140px solid #bf8417;
    border-left: 120px solid transparent;
    border-radius: 3px 20px 3px 20px;
}

.price-badge span {
    position: absolute;
    top: -100px;
    right: 20px;
    transform: rotate(48deg);
    font-weight: 500;
    color: var(--bs-white);
}

.pound-span-1,
.pound-span-2,
.pound-span-3 {
    font-size: 1rem;
    position: absolute;
    left: 30px;
}

.pricing-card-top h3 {
    font-size: 1.8rem;
    font-weight: 800;
}

.pricing-card-top h2 {
    font-size: 2.2rem;
    font-weight: 800;
}

.pricing-card-bottom {
    padding: 1.5rem 4rem !important;
}

.pricing-card-bottom p {
    font-weight: 500;
}

.pricing-card-purple2 {
    color: #bf8417;
}

.pricing-card-purple {
    color: #6711f2;
}

.check-icon {
    color: green;
    font-weight: bolder;
    font-size: 1.2rem;
}

.check-iconX {
    color: red !important;
}

.pricing-btn {
    padding: .6rem 3rem;
    border-radius: 45px;
    background-color: #ffffff;
    color: #bf8417;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.pricing-btn:hover {
    background-color: #bf8417;
    color: #ffffff;
}

.contact-us-div {
    padding: 2rem 0 2rem 0;
    color: var(--bs-gray-dark);
    background-color: var(--bs-contact-bg);
    height: 100%;
}

.navigate-div,
.newsletter-div,
.contact-info-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
    overflow: none;
}

.navigate-div {
    margin-right: 4rem;
}

.navigate-div h4,
.newsletter-div h4,
.contact-info-div h4 {
    font-size: 1.4rem;
}

.navigate-div ul,
form,
.contact-media {
    align-items: flex-start !important;
    gap: .8rem;
}

.navigate-div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    text-align: start !important;
    gap: 0;
    padding: 0;
}

.navigate-div ul li {
    list-style-type: none;
}

.navigate-div ul li a,
.contact-media a {
    display: inline-block;
    text-decoration: none;
    color: var(--bs-gray-dark);
    transition: all 0.5s ease;
    outline: none;
    padding: .2rem;

}

.navigate-div ul li a:hover,
.contact-media a:hover {
    letter-spacing: 2px;
    color: #bf8417;
}

.contact-us-label {
    color: var(--bs-gray);
    position: inherit;
}

.contact-input-field {
    padding: .6rem 6rem .6rem .6rem;
    border: 1px solid gray;
    border-radius: 8px;
    width: 100% !important;
}

.contact-input-field:focus {
    border: 2px solid #bf8417;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25);
}

.contact-btn {
    width: 8rem;
    padding: .6rem 1rem;
    border-radius: 8px;
    background-color: #bf8417;
    color: #ffffff;
    border: 1px solid gray;
    font-weight: 600;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #ffffff;
    color: #bf8417;
}

.contact-media {
    gap: 0;
}

.social-media {
    display: flex;
    gap: .6rem;
    align-items: center;
    width: fit-content;
}

.social-icons {
    font-size: 1.2rem;
    color: var(--bs-white);
    background-color: #bf8417;
    padding: .4rem;
    border-radius: 50%;
    border: 1px solid gray;
}

.social-icons:hover {
    background-color: #ffffff;
    color: #bf8417;
}

footer {
    background-color: var(--bs-dark);
    color: var(--bs-white);
    margin-bottom: 0;
}

/* .footer-copyright {
    width: fit-content;
    margin-left: rem;
} */

.footer-copyright a {
    color: #bf8417;
    text-decoration: none;
}

.footer-copyright a:hover {
    color: rgb(189, 0, 189);
}

/*ROUTED CONTACT PAGE STARTS HERE*/
.routed-contact-div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    font-family: Poppins;
}


.routed-contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 60vh;
    background-color: var(--bs-shapesR);
    position: relative;
}

.routed-contact-card {
    margin: 4rem 0;
}

.routed-contact-header h1,
.routed-contact-header .contact-linked {
    position: absolute;

}

.routed-contact-header h1 {
    color: var(--bs-h1-text);
    font-size: 3.8rem;
    top: 50%;
    font-weight: 600;
}

.routed-contact-header .contact-linked {
    top: 75%;
    left: 47%;
    text-decoration: none;
}

.routed-contact-header .contact-linked p {
    color: var(--bs-gray);
    font-weight: 500;
    cursor: pointer;
}

.routed-contact-header .contact-linked p span {
    color: #bf8417;
}

.routed-contact-card-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    transform: translateY(1000px);
    opacity: 0;
}

.routed-contact-card-head h4 {
    font-size: 1.8rem;
    color: #bf8417;
}

.routed-contact-card-head h1 {
    font-size: 2.8rem;
    color: #343a40;
}

.routed-contact-card-head p {
    text-align: center;
    line-height: 1.6;
    width: 60% !important;
    color: #6c757d;
}

.routed-contact-form {
    height: 100%;
    margin-top: 2rem;
    gap: 4rem;
}

.form-left {
    transform: translateX(-1000px);
    opacity: 0;
}

.form-left p {
    color: var(--bs-gray);
}

.form-left h1 {
    font-size: 2.8rem;
    color: #343a40;
}

.form-left form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-row {
    gap: .6rem;
    position: relative;
}

form input,
select {
    padding: 1.4rem 5rem 1.4rem .6rem;
    border: 1px solid gray;
    border-radius: 8px;
    /* width: 100% !important; */
    font-size: 1rem;
    color: #6c757d;
}

label {
    font-size: .8rem;
    color: #6c757d !important;
    position: absolute;
    left: 49.4%;
    top: 16%;
}

@media (max-width: 992px) {
    label {
        top: 57%;
        left: 2%;
    }
}

.input-row select .disabled-colored-select {
    background-color: rgb(224, 224, 224) !important;
}

select:focus,
textarea:focus,
input:focus {
    border: 2px solid #bf8417;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25);
}

form textarea {
    padding: 1rem 5rem 1rem .6rem;
    border: 1px solid gray;
    border-radius: 8px;
    width: 100%;
    height: 10rem;
    font-family: Poppins;
    font-size: 1rem;
}

.routed-contact-btn {
    width: 100%;
    padding: 1rem 5rem 1rem .6rem;
    border-radius: 8px;
    background-color: #bf8417;
    color: #ffffff;
    border: 1px solid gray;
    font-weight: 600;
    cursor: pointer;
}

.routed-contact-btn:hover {
    background-color: var(--bs-white);
    color: #bf8417;
}

.form-right {
    gap: .4rem;
    transform: translateX(1000px);
    opacity: 0;
}

.form-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right-item {
    gap: 0rem !important;
}

.right-item p {
    font-size: 1.4rem;
    color: #343a40;
    font-weight: 500;
}

.right-item span {
    font-size: 1.2rem;
    color: #6c757d;
}

.routed-contact-icon {
    background: #dcd9e2;
    padding: 1.6rem;
    border-radius: 50%;
    color: #bf8417;
}

.row-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: fit-content;
}

.routed-social-icons {
    color: var(--bs-white);
    background-color: #bf8417;
    padding: 1.6rem;
    border-radius: 50%;
    border: 1px solid gray;
}

.routed-social-icons:hover {
    background-color: #ffffff;
    color: #bf8417;
}


.rectangles-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 4rem;
    overflow: hidden !important;
    z-index: 1 !important;
}

.ractangle-div {
    gap: 4rem !important;
}

.rectangle {
    background-color: rgba(128, 0, 128, 0.296) !important;
    animation: rotateAndMove linear infinite;
    transform-origin: center;
    opacity: 1;
}

.rectangle-1 {
    width: 20px;
    height: 20px;
    animation-duration: 20s;
    border-radius: 3px;
}

.rectangle-2 {
    width: 20px;
    height: 20px;
    animation-duration: 40s;
    border-radius: 3px;
}

.rectangle-3 {
    width: 20px;
    height: 20px;
    animation-duration: 60s;
    border-radius: 3px;
}

.rectangle-4 {
    width: 50px;
    height: 50px;
    animation-duration: 25s;
    border-radius: 5px;
}

.rectangle-5 {
    width: 90px;
    height: 90px;
    animation-duration: 30s;
    border-radius: 5px;
}

.rectangle-6 {
    width: 110px;
    height: 110px;
    animation-duration: 50s;
    border-radius: 5px;
}

.rectangle-7 {
    width: 100px;
    height: 100px;
    animation-duration: 60s;
    border-radius: 5px;
}

.rectangle-8 {
    width: 20px;
    height: 20px;
    animation-duration: 20s;
    border-radius: 3px;
}

.rectangle-9 {
    width: 80px;
    height: 80px;
    animation-duration: 55s;
    border-radius: 5px;
}

.rectangle-10 {
    width: 130px;
    height: 130px;
    animation-duration: 50s;
    border-radius: 5px;
}

.circle {
    width: 35rem;
    height: 35rem;
    background: radial-gradient(circle, transparent 50%, rgba(128, 0, 128, 0.066) 50%);
    border-radius: 50%;
    position: absolute;
    animation: moveCircle 5s ease-in-out infinite;
    background-color: transparent;
}

.circle-left {
    left: -140px;
    bottom: -40%;
    animation-direction: alternate;
}

.circle-right {
    right: -140px;
    bottom: -40%;
    animation-direction: alternate-reverse;
}

@keyframes rotateAndMove {
    0% {
        transform: translateY(35vh) rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 1;
    }
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(20px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}